.root {
	text-align: center;
	.title {
		font-size: 30px;

	}

	.about {
		text-align: left;
		padding-top: 40px;
		padding-left: 10%;
		padding-right: 10%;

		b {
			font-size: 15px;	
		}

		#emphasize {
			font-size: 20px;
		}
	}

	.uploaderContainer {
		margin-top: 100px;
		padding-left: 20%;
		padding-right: 20%;
		width: 60%;

		.uploaderInput {
			display: inline-block;
			width: 100px;
			height: 100px;
			background-color: black;
			float: left;
		}

		.uploaderOutput {
			display: inline-block;
			width: 100px;
			height: 100px;
			background-color: red;
			float: right;
		}
	}
}