.root {
	text-align: center;
	.title {
		font-size: 30px;
		background-image: url("../assets/img/banana.jpg");
		
		color: white;
		padding-top: 100px;
		padding-bottom: 100px;
		
		
		h1 {
			margin-top: 0;
			font-family: 'Baloo Paaji', cursive;
			
		}
		p {
			font-family: 'Roboto', sans-serif;
			font-weight: 100;
			font-size: 16px;
		}

		
	}
	

	.about {
		text-align: left;
		padding-top: 40px;
		padding-left: 10%;
		padding-right: 10%;

		b {
			font-size: 15px;	
		}

		#emphasize {
			font-size: 20px;
		}
	}

	.uploaderContainer {
		margin-top: 100px;
		padding-left: 20%;
		padding-right: 20%;

		.uploaderInput {
			margin-top: 10px;			
			display: inline-block;
			width: 150px;
			height: 100px;
			border-style: dashed;
			border-color: #666;
			border-width: 5px;
			border-radius: 10px;
			img {
				max-height: 60px;
				border-radius: 10px;	
			}		
		}

		.uploaderOutput {
			margin-top: 10px;
			display: inline-block;
			width: 150px;
			height: 100px;
			border-style: dashed;
			border-color: #666;
			border-width: 5px;
			border-radius: 10px;						
		}

		.hidden-input {
			display: none;
		}
	}

	.bar {
		margin-top: 40px;
	}
}